header {
    margin: 20px;
    padding: 7px;
    background-color: cadetblue;
}

main {
    background-color: lightgrey;
}

footer {
    margin: 20px;
    padding: 7px;
    background-color: palevioletred;
}

#taskInput {
    margin: 20px;
    padding: 7px;
    background-color: darkkhaki;
}

#descriptionInput {
    margin: 20px;
    padding: 7px;
    background-color: darkkhaki;
}

#feedback {
    margin: 20px;
    padding: 7px;
    background-color: plum;
}

.green {
    background-color: lightgreen;
}

table {
    border: 3px, solid, black;
}