header {
    background-color: cadetblue;
}

main {
    background-color: lightgrey;
}

footer {
    background-color: palevioletred;
}

#inputs {
    background-color: darkkhaki;
}

#feedback {
    background-color: plum;
}

.green {
    background-color: lightgreen;
}